/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* Generics */

body {
    font-family: 'Fredoka', sans-serif;
}

/* Header */

.main-header {
    text-align: center;
    margin-bottom: 3rem;
}

.main-header > #main-title {
    color: #E53170;
    margin: 2rem 0;
}

/* Central main */

.row {
    margin: 0 -2rem;
}

.column {
    width: calc(100% / 3);
    float: left;
    padding: 2rem;
}

.column img {
    width: 100px;
    float: left;
}

.photo-description {
    width: calc(100% - 100px);
    display: inline-block;
    background-color: #000;
    height: 100px;
}

.photo-description > *{
    padding: 5px 40px 0 10px;
}

.photo-description h2 {
    color: #fff;
    font-size: 1rem;
    margin-top: 8px;
} 

.photo-description .work {
    display: block;
    color: #fff;
    margin-bottom: 12px;
}

.photo-description a {
    text-decoration: none;
    color: #59CDFA;
}








